.logo {
  position: relative;
  border-radius: 50%;
  background-color: var(--surface-bg-gray);
  width: 100px;
  height: 100px;
}
.input {
  border: 1px solid var(--component-line-line-placeholder);
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-xs);
  background-color: var(--component-card-bg-card);
  align-self: stretch;
  border-radius: var(--radius-rad-medium);
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-spacing-sm);
  color: var(--text-text-placehoder);
}
.icon,
.mail {
  overflow: hidden;
}
.icon {
  position: absolute;
  height: 66.67%;
  width: 83.33%;
  top: 16.67%;
  right: 8.33%;
  bottom: 16.67%;
  left: 8.33%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.mail {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.continue-with-email {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--component-card-bg-card);
  text-align: left;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--spacing-spacing-sm);
  background-color: var(--text-text-blue);
  align-self: stretch;
  border-radius: var(--radius-rad-medium);
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-spacing-xs);
}
.line-child {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.another-way-login {
  position: relative;
  font-weight: 500;
}
.line {
  align-self: stretch;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-spacing-sm);
}
.facebook-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.continue-with-email1 {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--text-text-blue);
  text-align: left;
}
.button1 {
  cursor: pointer;
  border: 1px solid var(--text-text-blue);
  padding: var(--spacing-spacing-sm);
  background-color: var(--component-card-bg-card);
  align-self: stretch;
  border-radius: var(--radius-rad-medium);
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-spacing-xs);
}
.sign-up {
  position: relative;
  font-weight: 500;
  color: var(--text-text-blue);
}
.card,
.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card {
  border-radius: var(--radius-rad-xlarge);
  background-color: var(--component-card-bg-card);
  box-shadow: var(--light-mode);
  padding: 40px 80px;
  gap: var(--spacing-spacing-lg);
}
.login-page {
  position: relative;
  background-color: var(--surface-bg-gray);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  padding: 0 480px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--text-text-placehoder);
  font-family: var(--font-inter);
}
